@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

#search-wrapper{
    display: flex;
    border-bottom: 1px solid #E9E9E9;
    align-items: stretch;
    /* border-radius: 50px; */
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    width: 500px;
    margin-left: 80px;
    
    /* box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273); */
    
    }
    #search{
        border:none;
        width:350px;
        font-size: 15px;
        /* padding: 0.5rem; */
        /* color: #acacac; */
    }
    #search:focus{
        outline: none;
    }
    .search-icon{
        margin: 10px;
        color:rgba(0, 0, 0, 0.564);
    }
    #search-button{
        border:none;
        cursor: pointer;
        color:#fff;
        background-color:#1dbf73;
        padding:0px 10px;
    }

    @media(max-width: 768px){
        #search-wrapper{
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.276);
            align-items: stretch;
            /* border-radius: 50px; */
            background-color: #fff;
            overflow: hidden;
            width: 180px;
            margin-left: 0;
            /* box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273); */
            
            }
    }



    /* sidebar */

    
    .sidebar{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 78px;
        background: #222222;
        padding: 6px 14px;
        z-index: 0;
        transition: all 0.5s ease;

      }
      .sidebar.open{
        width: 250px;
      }
      .sidebar .logo-details{
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
      }
      .sidebar .logo-details .icon{
        opacity: 0;
        transition: all 0.5s ease;
      }
      .sidebar .logo-details .logo_name{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0;
        transition: all 0.5s ease;
      }
      .sidebar.open .logo-details .icon,
      .sidebar.open .logo-details .logo_name{
        opacity: 1;
      }
      .sidebar .logo-details #btn{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
      }
      .sidebar.open .logo-details #btn{
        text-align: right;
      }
      .sidebar i{
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
      }
      .sidebar .nav-list{
        margin-top: 20px;
        height: 100%;
      }
      .sidebar li{
        position: relative;
        margin: 25px 10px;
        list-style: none;
      }
      .sidebar li .tooltip{
        position: absolute;
        top: -20px;
        left: calc(100% + 5px);
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
        z-index: 22222;
      }
      .sidebar li:hover .tooltip{
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
      }
      .sidebar.open li .tooltip{
        display: none;
      }
      .sidebar input{
        font-size: 15px;
        color: #FFF;
        font-weight: 400;
        outline: none;
        height: 50px;
        width: 100%;
        width: 50px;
        border: none;
        border-radius: 12px;
        transition: all 0.5s ease;
        background: #1d1b31;
      }
      .sidebar.open input{
        padding: 0 20px 0 50px;
        width: 100%;
      }
      .sidebar .bx-search{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 22px;
        background: #1d1b31;
        color: #FFF;
      }
      .sidebar.open .bx-search:hover{
        background: #1d1b31;
        color: #FFF;
      }
      .sidebar .bx-search:hover{
        background: #FFF;
        color: #11101d;
      }
      .sidebar li a{
        display: flex;
        height: 30px !important;
        width: 100% !important;
        text-decoration: none;
         align-items: center;
        background: transparent;
      }
      .sidebar li a:hover{
        border-right: 1px solid #CE57D0;
        color: #fff !important;
      }
      .sidebar li a .links_name{
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
      }
      .sidebar.open li a .links_name{
        opacity: 1;
        pointer-events: auto;
      }
      .sidebar li a:hover .links_name,
      .sidebar li a:hover i{
        transition: all 0.5s ease;
        color: #ffffff;
      }
      
      .profile{
        position: fixed;
        left: 0;
        bottom: -8px;
        width: 80px !important;
        padding: 10px 14px;
        transition: all 0.5s ease;
        /* overflow: hidden; */
      }
      
      /* .sidebar.open li.profile{
        width: 250px;
      } */
     
      .sidebar li  img{
        height: 22px;
        width: 22px;
       
      }
      /* .sidebar li.profile .name,
      .sidebar li.profile .job{
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;
      }
      .sidebar li.profile .job{
        font-size: 12px;
      }
      .sidebar .profile #log_out{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: #1d1b31;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-radius: 0px;
        transition: all 0.5s ease;
      }
      
      .sidebar.open .profile #log_out{
        width: 50px;
        background: none;
      } */
      .home-section{
        position: relative;
        /* background: #EEEEEE;; */
        min-height: 100%;
        top: 0;
        left: 78px;
        width: calc(100% - 78px);
        transition: all 0.5s ease;
        z-index: 2;
      }
      .sidebar.open ~ .home-section{
        left: 250px;
        width: calc(100% - 250px);
      }
      .home-section .text{
        display: inline-block;
        color: #11101d;
        font-size: 25px;
        font-weight: 500;
        margin: 18px
      }
      .home-css{
        width: 90vw;
        height: 75vh;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
      }
      /* #heightRange {
        width: 200px;
      }
      
      #heightValue {
        margin-top: 10px;
      }
      input[type="range"] {
        width: 300px;
      } */
      
      input[type="range"]::-webkit-slider-thumb {
        background-color: #3498db;
        border: none;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      
      input[type="range"]::-moz-range-thumb {
        background-color: #3498db;
        border: none;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      
      input[type="range"]::-ms-thumb {
        background-color: #3498db;
        border: none;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      
      @media (max-width: 420px) {
        .sidebar li .tooltip{
          display: none;
        }
      }

      .what-text{
        font-family: 'Rubik';
        color: #1A1A1A;
      }


      .box-set{
        background: #F2F2F2;
        width: 350px;
        height: 450px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-family: 'Rubik';
        color: #757575;
        border-radius: 5px;
        border-radius: 5px;
        margin: 10px 10px;
      }
      .box-set-second{
        background: #F2F2F2;
        width: 200px;
        height: 260px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-family: 'Rubik';
        color: #757575;
        border-radius: 5px;
        margin: 10px 10px;
      }
      .box-set-second-mini{
        background: #F2F2F2;
        width: 200px;
        height: 175px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-family: 'Rubik';
        color: #757575;
        border-radius: 5px;
        margin: 10px 10px;
      }

      .box-set-third{
        background: linear-gradient(53.28deg, #CE4CE6 5.43%, #DE4DCB 94.57%, #DE4DCB 94.57%, #DE4DCB 94.57%), #333333;
        width: 180px;
        height: 240px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-family: 'Rubik';
        color: #757575;
        border-radius: 5px;
        margin: 10px 10px;
      }
      .box-set-third-mini{
        background: #F2F2F2;
        width: 180px;
        height: 195px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-family: 'Rubik';
        color: #757575;
        border-radius: 5px;
        margin: 10px 10px;

      }
      .box-set-forth{
        background: #F2F2F2;
        width: 380px;
        height: 310px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-family: 'Rubik';
        color: #757575;
        border-radius: 5px;
        margin: 10px 10px;
      }
      .box-set-fotrth-mini{
        background: #F2F2F2;
        width: 180px;
        height: 115px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-family: 'Rubik';
        color: #757575;
        border-radius: 5px;
        margin: 10px 10px;
        padding: 0px 30px;
      }
      .home-down{
display: flex;
      }
      @media(max-width: 1024px){
        .home-down{
          display: flex;
          flex-direction: column;
                }
        .box-set{
          background: #F2F2F2;
          width: 100%;
          height: auto;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          border-radius: 5px;
          margin: 10px 10px;
        }
        .box-set-second{
          background: #F2F2F2;
          width: 100%;
          height: 260px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 10px 10px;
        }
        .box-set-second-mini{
          background: #F2F2F2;
          width: 100%;
          height: 175px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 10px 10px;
        }
        .box-set-third{
          background: linear-gradient(53.28deg, #CE4CE6 5.43%, #DE4DCB 94.57%, #DE4DCB 94.57%, #DE4DCB 94.57%), #333333;
          width: 100%;
          height: 240px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 10px 10px;
        }
        .box-set-third-mini{
          background: #F2F2F2;
          width: 100%;
          height: 195px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 10px 10px;
  
        }
        .box-set-forth{
          background: #F2F2F2;
          width: 100%;
          height: 310px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 10px 10px;
        }
        .box-set-fotrth-mini{
          background: #F2F2F2;
          width: 100%;
          height: 115px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 10px 10px;
          padding: 0px 30px;
        }
        .home-css{
          width: 90vw;
          height: 75vh;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
          /* border: 2px solid red; */
        }
      }
      @media(max-width: 768px){
        .box-set{
          background: #F2F2F2;
          width: 95%;
          height: 450px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
        }
        .box-set-second{
          background: #F2F2F2;
          width: 95%;
          height: 260px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 5px 5px;
        }
        .box-set-second-mini{
          background: #F2F2F2;
          width: 95%;
          height: 175px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 5px 5px;
        }
        .box-set-third{
          background: linear-gradient(53.28deg, #CE4CE6 5.43%, #DE4DCB 94.57%, #DE4DCB 94.57%, #DE4DCB 94.57%), #333333;
          width: 95%;
          height: 240px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 5px 5px;
        }
        .box-set-third-mini{
          background: #F2F2F2;
          width: 95%;
          height: 195px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 5px 5px;
  
        }
        .box-set-forth{
          background: #F2F2F2;
          width: 95%;
          height: 310px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 5px 5px;
        }
        .box-set-fotrth-mini{
          background: #F2F2F2;
          width: 95%;
          height: 115px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          font-family: 'Rubik';
          color: #757575;
          border-radius: 5px;
          margin: 5px 5px;
          padding: 0px 30px;
        }
        .home-css{
          width: auto;
          height: 75vh;
          flex-direction: column;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          margin-top: 20;
          /* border: 2px solid red; */
        }
      }